<h1>test page input thingy</h1>

<form id="new-form" action="/boats" method="POST">
    <label>Brand:</label>
    <input type="text" name="brand">
    <label>Length:</label>
    <input type="text" name="length">
    <label>Draft</label>
    <select name="draft">
      <option value="4">4</option>
      <option value="8">8</option>
      <option value="12">12</option>
      <option value="24">24</option>  
    </select>
    <input type="submit" value="Add Boat">
  </form>
  